body {
  font-family: Roboto, Ubuntu, Arial, sans-serif;
  font-size: 16px;
  color: #1f1f1f;
}
h1.ggl {
  text-align: center;
  font-weight: 500;
  font-size:75px;
  letter-spacing: 3px;
  margin-top:7rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 3px rgb(172, 172, 172);
}
.header {
  padding: 15px;
}
.header > div {                
  text-align: right;
  width:100%;
}
.main {
  margin-top: 60px;
  text-align: center;
}
.link {
  display: inline-flex;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3), 0 1px 3px 1px rgba(0, 0, 0, .15);
  font-weight: 500;
  height: 40px; 
  width: 160px;
  color: white;
  background-color: rgb(11 87 208);                
  margin-top: 30px;
  margin-right: 10px;
}
.link:hover {
  background-color: rgb(11 87 208 / 76%);
}
.link a {
  position: relative;
  top: 12px;
  width: 158px;
  text-align: center;
  text-decoration: none;
  color:unset                
}
.submit {
  margin-top: 30px;
}
.submit input {
  font-size: 16px;
  cursor: pointer;
  color: #3c4043;
  background-color: #f8f9fa;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 8px;
  height: 36px;
  margin-left: 10px;                
  margin-right:8px;
}
.submit input:hover {
  background-color: #f8f7ee;
  color: #202124;
  border: 2px solid #dadce0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}
.img-tag {
  color:#4285f4;
  width: 400px;
  margin: auto;
  font-size: 23px;
  font-weight: 400;
  text-align: right;
}
#q {
  font-size: 16px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 48px;                
  padding-left: 20px;
  box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25)
  
}
#q:hover {
  background: #fff;
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
  border-color: transparent;
}
#q:focus-visible {
  outline: unset;
}
@media (min-width: 900px) {
  #q {
      width:584px;
  }
}
@media (max-width: 899px) {
  #q {
      width:584px;
  }
}
@media (max-width: 670px) {
  #q {
      width:87%;
  }
}